<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="customDefaults" type="ConfigFiles.Infrastructure.CustomDefaults">
      <section name="newUserDefaults"
          type="ConfigFiles.Infrastructure.NewUserDefaultsSection"/>
      <section name="places" type="ConfigFiles.Infrastructure.PlaceSection"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="defaultCity" value="New York"/>
    <add key="defaultCountry" value="USA"/>
    <add key="defaultLanguage" value="English"/>
  </appSettings>

  <connectionStrings>
    <add name="EFDbContext" connectionString="Data Source=(localdb)\v11.0;Initial
          Catalog=SportsStore;Integrated Security=True"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <customDefaults>
    <newUserDefaults city="Chicago" country="USA" language="English" regionCode="1"/>
    <places default="LON">
      <add code="NYC" city="New York" country="USA" />
      <add code="LON" city="London" country="UK" />
      <add code="PAR" city="Paris" country="France" />
    </places>
  </customDefaults>

  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>

  <location path="Home/Index">
    <appSettings>
      <add key="defaultCity" value="London"/>
      <add key="defaultCountry" value="UK"/>
    </appSettings>
  </location>

</configuration>
