<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StateDb" providerName="System.Data.SqlClient"
         connectionString="Data Source=(localdb)\v11.0;Initial Catalog=StateDb;
             Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <sessionState mode="Custom" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" connectionStringName="StateDb"
             type="System.Web.Providers.DefaultSessionStateProvider,
                 System.Web.Providers, Version=2.0.0.0, Culture=neutral, 
                     PublicKeyToken=31bf3856ad364e35"  />
      </providers>
    </sessionState>
  </system.web>
</configuration>
