<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="fiftyOne">
      <section name="detection"
               type="FiftyOne.Foundation.Mobile.Detection.Configuration.DetectionSection, 
                   FiftyOne.Foundation"
               requirePermission="false"
               allowDefinition="Everywhere"
               restartOnExternalChanges="false"
               allowExeDefinition="MachineToApplication"/>
    </sectionGroup>
  </configSections>
  <fiftyOne>
    <detection binaryFilePath="~/App_Data/51Degrees.mobi.dat"/>
  </fiftyOne>
</configuration>
