<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />

    <customErrors mode="On"/>
    
  </system.web>

  <system.webServer>
    <modules>
      <!--<add name="Redirect" type="RequestFlow.Infrastructure.RedirectModule"/>
      <add name="Select" type="RequestFlow.Infrastructure.HandlerSelectionModule"/>
      <add name="Debug" type="RequestFlow.Infrastructure.DebugModule"/>-->
      <!--<add name="Deflect" type="RequestFlow.Infrastructure.DeflectModule"/>-->
      <add name="EventList" type="RequestFlow.Infrastructure.EventListModule"/>
    </modules>
  </system.webServer>

</configuration>
