@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>First Form</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <style>
        body { padding-top: 10px; }
    </style>
</head>
<body class="container">
    @using (Html.BeginForm("ProcessFirstForm", "Registration")) {
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" name="name" placeholder="Enter name">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    }
</body>
</html>
