<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <system.webServer>
    <modules>
      <!--<add name="Timer" type="SimpleApp.Infrastructure.TimerModule"/>
      <add name="Total" type="SimpleApp.Infrastructure.TotalTimeModule"/>-->
      <add name="DayPrep" type="SimpleApp.Infrastructure.DayModule"/>
    </modules>
    <handlers>
      <add name="DayJSON" path="/handler/*.json" verb="GET"
              type="SimpleApp.Infrastructure.DayOfWeekHandler"/>
      <add name="DayHTML" path="/handler/day.html" verb="*"
              type="SimpleApp.Infrastructure.DayOfWeekHandler"/>
      <add name="SiteLength" path="/handler/site" verb="*"
              type="SimpleApp.Infrastructure.SiteLengthHandler"/>
      <add name="CounterFactory" path="/handler/counter" verb="*"
          type="SimpleApp.Infrastructure.CounterHandlerFactory"/>
    </handlers>
  </system.webServer>
</configuration>
